@charset "UTF-8";
/*============================
変数定義
============================*/
/*============================
common
============================*/
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Futula', 'Arial', 'Segoe UI', "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
  font-size: 62.5%;
  line-height: 2; }

body {
  margin: 0;
  padding: 0;
  color: #222; }

li {
  list-style: none; }

a {
  text-decoration: none;
  transition: .2s; }

button,
input {
  background: none;
  border: none; }

/*============================
main navigation
============================*/
.main_nav {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: #ff8f00;
  border-left: 15px solid #c56000;
  z-index: 5;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2); }
  .main_nav .title {
    display: block;
    max-width: 150px;
    margin: 25px auto 0; }
  .main_nav .mobile_title {
    display: none; }
  .main_nav p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 5px; }
  .main_nav > a {
    display: block;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-bottom: 10px; }
    .main_nav > a:hover, .main_nav > a:focus {
      color: #ddd; }

/*
category_nav
============================*/
.category_nav {
  padding: 0;
  margin-bottom: 22px; }
  .category_nav li {
    border-top: 1px solid #ffc046; }
    .category_nav li a {
      display: block;
      font-size: 1.4rem;
      color: #222;
      font-weight: bold;
      padding: 12px 0 12px 48px; }
  .category_nav li:last-child {
    border-bottom: 1px solid #ffc046; }
  .category_nav .now a,
  .category_nav a:hover,
  .category_nav a:focus {
    background: #ffc046;
    border-left: 12px solid white;
    padding-left: 36px; }

/*============================
header
============================*/
.main_area {
  margin-left: 215px; }
  .main_area header {
    height: 97vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 4;
    /*
    top article
    ============================*/
    /*
    sub navigation
    ============================*/ }
    .main_area header .top_article {
      width: 70%;
      height: 100%;
      background: url(../images/20170428re.jpg) no-repeat center;
      background-size: cover;
      position: relative;
      float: left;
      margin-right: 30px; }
      .main_area header .top_article .time, .main_area header .top_article h2 {
        color: white;
        margin-left: 30px;
        font-size: 3rem;
        position: absolute;
        bottom: 0; }
      .main_area header .top_article h2 {
        width: 90%;
        font-size: 4.5rem;
        line-height: 1.3;
        bottom: 50px; }
      .main_area header .top_article:hover {
        cursor: pointer; }
    .main_area header .sub_nav {
      height: 100%;
      background: #ff8f00;
      padding: 30px;
      box-sizing: border-box; }
      .main_area header .sub_nav .search_area {
        margin-bottom: 30px; }
        .main_area header .sub_nav .search_area .search_box {
          background: white;
          padding: 15px;
          border-radius: 3px; }
        .main_area header .sub_nav .search_area .sub_btn {
          background: #512da8;
          padding: 13px 25px;
          border-radius: 3px;
          color: white; }
      .main_area header .sub_nav h2 {
        font-size: 2rem;
        margin-top: 50px; }
      .main_area header .sub_nav a {
        font-size: 1.4rem;
        color: #222; }
      .main_area header .sub_nav .more_past a {
        color: white; }
      .main_area header .sub_nav .schedule_area p {
        font-size: 1.4rem; }

/*============================
main article area
============================*/
main {
  background: #f5f5f5;
  padding-bottom: 80px; }
  main h2 {
    margin: 0;
    padding: 30px;
    font-size: 4rem;
    color: #ff8f00;
    letter-spacing: .5rem;
    background: white; }
  main .article_area {
    padding: 15px;
    overflow: hidden; }
  main .more_posts a {
    width: 30%;
    text-align: center;
    display: block;
    margin: 15px auto 30px;
    padding: 15px 0;
    color: #ff8f00;
    font-weight: bold;
    background: white;
    border-radius: 3px;
    font-size: 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    main .more_posts a:hover, main .more_posts a:focus {
      color: white;
      background: #ff8f00; }

/*
article box
============================*/
.article_box {
  margin: 15px;
  float: left;
  width: calc(91.8% / 3);
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .article_box img {
    width: 100%; }
  .article_box .article_content {
    padding: 20px; }
    .article_box .article_content h3 {
      margin: 0;
      font-size: 1.4rem; }

/*
ad box
============================*/
.ad_box {
  position: relative;
  background: #ff8f00; }
  .ad_box p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0;
    width: 80px;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

/*============================
footer
============================*/
footer {
  background: #ffc046;
  padding: 12px;
  border-top: 1px solid white;
  clear: both; }
  footer p {
    color: #222;
    text-align: center;
    margin: 0; }

@media screen and (max-width: 480px) {
  .main_nav {
    width: 100%;
    height: 40px;
    top: 0;
    background-color: #ff8f00;
    border-left: none;
    border-top: 15px solid #c56000;
    z-index: 5;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2); }
    .main_nav h1,
    .main_nav p,
    .main_nav ul,
    .main_nav a {
      display: none; }
    .main_nav .mobile_title {
      display: block; }
  .main_area {
    margin-left: 0; }
  header {
    height: auto;
    box-shadow: none; }
    header .top_article {
      width: 100% !important;
      height: auto;
      float: none;
      margin-right: 0; }
      header .top_article time {
        font-size: 1.2rem; }
      header .top_article h2 {
        font-size: 1.6rem; }
    header .sub_nav {
      display: none; }
  main h2 {
    text-align: center;
    font-size: 2rem; }
  main .more_posts a {
    width: 80%;
    font-size: 1.4rem; }
  .article_box {
    float: none;
    width: 90%; } }
