/*============================
変数定義
============================*/
$main_color:#ff8f00;
$dark_color:#c56000;
$light_color:#ffc046;
$accent_color:#512da8;
$back_color:#f5f5f5;
$font_color:#222;

$f_size:1.4rem;
$f_sizeS:1.2rem;



/*============================
common
============================*/
html{
  font-family: -apple-system, BlinkMacSystemFont, 'Futula', 'Arial', 'Segoe UI', "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
  font-size: 62.5%;
  line-height: 2;
}
body{
  margin:0;
  padding:0;
  color: $font_color;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  transition: .2s;
}
button,
input{
  background: none;
  border:none;
}

/*============================
main navigation
============================*/
.main_nav{
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: $main_color;
  border-left: 15px solid $dark_color;
  z-index: 5;
  box-shadow: 1px 0 1px rgba(0,0,0,.2);

  .title{
    display: block;
    max-width: 150px;
    margin:25px auto 0;
  }
  .mobile_title{
    display: none;
  }
  p{
    font-size: $f_sizeS;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 5px;
  }
  & > a{
    display: block;
    font-size: $f_sizeS;
    color: white;
    text-align: center;
    margin-bottom: 10px;

    &:hover,
    &:focus{
      color: #ddd;
    }
  }
}

/*
category_nav
============================*/
.category_nav{
  padding: 0;
  margin-bottom: 22px;

  li{
    border-top: 1px solid $light_color;

    a{
      display: block;
      font-size: $f_size;
      color: $font_color;
      font-weight: bold;
      padding: 12px 0 12px 48px;
    }
  }
  li:last-child{
    border-bottom: 1px solid $light_color;
  }
  .now a,
  a:hover,
  a:focus{
    background: $light_color;
    border-left: 12px solid white;
    padding-left: 36px;
  }
}


/*============================
header
============================*/
.main_area{
  margin-left: 215px;

  header{
    height: 97vh;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    position: relative;
    z-index: 4;

    /*
    top article
    ============================*/
    .top_article{
      width:70%;
      height: 100%;
      background: url(../images/20170428re.jpg) no-repeat center;
      background-size: cover;
      position: relative;
      float:left;
      margin-right: 30px;

      .time{
        color: white;
        margin-left: 30px;
        font-size: 3rem;
        position: absolute;
        bottom: 0;
      }
      h2{
        @extend .time;
        width: 90%;
        font-size: 4.5rem;
        line-height: 1.3;
        bottom: 50px;
      }

      &:hover{
        cursor: pointer;
      }
    }

    /*
    sub navigation
    ============================*/
    .sub_nav{
      height: 100%;
      background: $main_color;
      padding: 30px;
      box-sizing: border-box;

      .search_area{
        margin-bottom: 30px;

        .search_box{
          background: white;
          padding: 15px;
          border-radius: 3px;
        }
        .sub_btn{
          background: $accent_color;
          padding: 13px 25px;
          border-radius: 3px;
          color: white;
        }
      }

      h2{
        font-size: 2rem;
        margin-top: 50px;
      }
      a{
        font-size: $f_size;
        color: $font_color;
      }
      .more_past a{
        color: white;
      }
      .schedule_area p{
        font-size: $f_size;
      }
    }
  }
}

/*============================
main article area
============================*/
main{
  background: $back_color;
  padding-bottom: 80px;
  h2{
    margin: 0;
    padding: 30px;
    font-size: 4rem;
    color: $main_color;
    letter-spacing: .5rem;
    background: white;
  }
  .article_area{
    padding: 15px;
    overflow: hidden;
  }
  .more_posts{
    a{
      width: 30%;
      text-align: center;
      display: block;
      margin: 15px auto 30px;
      padding: 15px 0;
      color: $main_color;
      font-weight: bold;
      background: white;
      border-radius: 3px;
      font-size: 2rem;
      box-shadow: 0 1px 1px rgba(0,0,0,.2);

      &:hover,
      &:focus{
        color: white;
        background: $main_color;
      }
    }
  }
}

/*
article box
============================*/
.article_box{
  margin:15px;
  float: left;
  width: calc(91.8% / 3);
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow:0 1px 1px rgba(0,0,0,.1);
  cursor: pointer;

  img{
    width: 100%;
  }
  .article_content{
    padding: 20px;

    h3{
      margin: 0;
      font-size: $f_size;
    }
  }
}

/*
ad box
============================*/

.ad_box{
  position: relative;
  background: $main_color;
  p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0;
    width: 80px;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
  }
}

/*============================
footer
============================*/
footer{
  background: $light_color;
  padding: 12px;
  border-top: 1px solid white;
  clear: both;
  p{
    color: $font_color;
    text-align: center;
    margin: 0;
  }
}





@media screen and (max-width:480px){
  .main_nav{
    width: 100%;
    height: 40px;
    top: 0;
    background-color: $main_color;
    border-left: none;
    border-top: 15px solid $dark_color;
    z-index: 5;
    box-shadow: 1px 0 1px rgba(0,0,0,.2);
    h1,
    p,
    ul,
    a{
      display: none;
    }
    .mobile_title{
      display: block;
    }
  }

  .main_area{
    margin-left: 0;
  }

  header{
    height: auto;
    box-shadow:none;

    .top_article{
      width:100% !important;
      height: auto;
      float:none;
      margin-right: 0;
      time{
        font-size: $f_sizeS;
      }
      h2{
        font-size: 1.6rem;
      }
    }

    .sub_nav{
      display: none;
    }
  }

  main{
    h2{
      text-align: center;
      font-size: 2rem;
    }
    .more_posts{
      a{
        width: 80%;
        font-size: $f_size;
        }
      }
    }

    .article_box{
      float: none;
      width: 90%;
      }
  }
